<html>
  <head></head>
  <body>
    <h1>
    ERROR
    </h1>
    <h2>
      Incorrect Inputs
      </h2>
    <ul>
    <li>Please enter: </li>
	<li>A Single symbol for true</li>
	<li>A Single symbol for false</li>
	<li>Ensure True and False symbols are different </li>
	<li>a Non-negative integer greater than 2 for size</li>
    </ul>
    <a href="/">Back to main</a>
  </body>
</html>
